# Build outputs
target/

# Logs
*.log

# OS/Editor files
.DS_Store
.idea/
.vscode/
*.iml
*.class
**/maven-wrapper.jar

# Environment files
.env
*.env
# Ensure *.env.example is not ignored
!*.env.example
